* {
  margin: 0;
  padding: 0;
  font-family: Lato;
}

/* Primary Style */
.primary-btn {
  border-radius: 8px;
  background: #e55473;
  padding: 20px 43px;
  color: #fff;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  border: none;
}
/* Header Style */

/* Navigation */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgba(229, 84, 115, 0.1);
  padding-top: 15px;
}
.nav-title{
  font-size: 35px;
  font-weight: 400px;
}
.link {
  display: flex;
  font-size: 12px;
  font-style: normal;
  font-weight: 200;
  color: #111010;
  gap: 30px;
}
.nav1 , .nav2, .nav3{
 height: 22px;
 margin-right: 25px;

}
 /* Header */
header {
  display: flex;
  justify-content: center;
  gap: 97px;
  height: 700px;
  background: rgba(229, 84, 115, 0.1);
}
.header-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 240px;
  margin-top: 150px;
  margin-bottom: 100px;
}
.header-title {
  color: #272727;
  font-size: 70px;
  font-style: normal;
  font-weight: 800;
}
.description {
  color: rgba(39, 39, 39, 0.6);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  padding: 32px 0px;
}
.header-img {
  width: 494px;
  margin-top: 50px;
  margin-right: 120px;
  padding-top: 24px;
}
/* Feature Style */
.feature .description {
  text-align: center;
  margin-top: ;
}
.feature-title {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  margin-top: 170px;
}
.feature-flower {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin: 24px 240px 32px 240px;
}
.flower-img1 {
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
  width: 200px;
  height: 300px;
  padding: 110px 75px 0px 75px;
}
.flower-img2 {
  border-radius: 300px 300px 0px 0px;
  background: rgba(5, 151, 160, 0.15);
  width: 200px;
  height: 300px;
  padding: 110px 75px 0px 75px;
}
.flower-img3 {
  border-radius: 300px 300px 0px 0px;
  background: rgba(71, 125, 17, 0.15);
  width: 220px;
  height: 300px;
  padding: 110px 75px 0px 75px;
}
.caption {
  color: #272727;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  text-decoration-line: underline;
  padding-top: 24px;
  cursor: pointer;
}

/* Icon Box Style Delivery Section Style */
.icon-box {
  display: flex;
  justify-content: center;
  gap: 100px;
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
  margin: 200px 0px;
  padding-top: 80px;
  padding-bottom: 60px;
}
.icon1 {
  text-align: center;
}
.icon2 {
  text-align: center;
}
.icon3 {
  text-align: center;
}
/* Hot deal style */
.hot-deal {
  display: flex;
  justify-content: center;
  gap: 180px;
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.05);

  margin: 128px 0px;
  padding: 100px 200px;
}
.deal-img {
  width: 200px;
  height: 300px;
}
.deal-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
span {
  color: #e55473;
}
/* Instagram section style */
.instagram {
  text-align: center;
  margin: 0px 240px 100px 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.insta-img {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-top: 24px;
}
.img1 {
  width: 300px;
  height: 350px;
}
.img2 {
  width: 300px;
  height: 350px;
}
.img3 {
  width: 300px;
  height: 350px;
}
.img4 {
  width: 300px;
  height: 350px;
}
.latest-deal {
  background-image: url("Flower\ Asset/Rectangle 9.png");
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 100px;
  background-position: top;
  background-size: cover;
  width: 1275px;
}
.email {
  width: 700px;
  height: 60px;
  border-radius: 8px;
  background-color: #fff;
  border: none;
  padding-left: 10px;
  margin-bottom: 40px;
  margin-right: 10px;
}
.latest-title {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  margin-top: 80px;
}
#coupon {
  margin-top: -15px;
}
.instagram-title {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  margin-top: 0px;
}
/* Testimonial Section */
.testimonial{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(229, 84, 115, 0.05);
  text-align: center;
  padding-top: 50px ;
  padding-bottom: 20px;
  width: 1275px;
  border-radius: 10px;

}
.test-img{
  width: 150px;
  border-radius:50%;
}
.test-title{
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  margin-top: 100px;
  margin-bottom: 40px;
}
.test-description{
  color: rgba(39, 39, 39, 0.6);
  font-size: 20px;
  font-style: italic;
  font-weight: 00;
  padding: 32px ;
}
.name{
  color:#111010;
  font-size: 18px;
  font-weight: 600;
}
.name-title{
  color:gray;
  font-size: 10px;
  font-weight: 500;
  padding: 5px;
}

/* Footer */
footer {
  background-color: #111010;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 128px;
}
.footer-desc {
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  margin: 24px;
}
.footer-title {
  font-size: 48px;
  font-weight: 800;
  color: #fff;
  text-align: center;
}
.copyright {
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}
